/* App CSS goes here. */

@font-face {
  font-family: Furore;
  src: url("../fonts/Furore.otf") format("opentype");
}
body {
  font-family: 'Furore', 'sans-serif';
}
.ui.menu {
  font-family: 'Furore', 'sans-serif';
}

.ui a {
  color: #C3C6C9;
}
.ui .active a {
  color: white;
}
.ui a:hover {
  color: white !important;
}
